<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotionly</title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="/Users/shubham/Downloads/Emotion-Recognition-Main/Web_EMR/static/app.js"></script>

    <!-- <link href="assets/img/favicon.png" rel="icon"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  

</head>
<body>
    <header id="header" class="header ">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a href="index.html" class="logo d-flex align-items-center">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <span>Emotionly</span>
          </a>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
             
              <li><a class="getstarted scrollto" href="#video">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header>

      <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
              <h1 data-aos="fade-up">Emotion Recognition: Introduction to Emotion Reading Technology</h1>
              <h2 data-aos="fade-up" data-aos-delay="400">Emotions are expressed when interacting and socializing with other people. Studying how to read them can be a tough task, so technology is used to do that job.</h2>
              <div data-aos="fade-up" data-aos-delay="600">
                <div class="text-center text-lg-start">
                  <a href="#video" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Get Started</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
              <img src="https://i.ibb.co/rtq99rv/Group-2-2.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </section>

      <section id="About" class="d-flex align-items-center">
        <div class="container">
         
              <center> <h1 data-aos="fade-up">WHAT IS EMOTION RECOGNITION?</h1> </center> 
              <h4 data-aos="fade-up" data-aos-delay="400">Emotion Recognition is one of the crucial non-verbal means by which the communication occurs, it helps identify mood and state of a person.

                Human emotions can be classified as fear, contempt, disgust, anger, surprise, happy, neutral, etc. These emotions are very subtle and can vary from person to person. 
                
                Human computer interaction have become a major part of our lives and although still lack the basic means of recognizing and responding to non-verbal cues of attitudes, emotions and mental state.
                </h4>
              <div data-aos="fade-up" data-aos-delay="600">
                <div class="text-center text-lg-start">
                
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </section>

      <section id="values" class="values">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <!-- <h2> Types of Emotions</h2> -->
            <p>Types of Emotions</p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-4">
              <div class="box" data-aos="fade-up" data-aos-delay="200">
                <img src="https://defenceforumindia.com/attachments/1613192345385-png.78134/" class="img-fluid" alt="">
                <h3>Happy</h3>
                <p>Raised corners of mouth into a smile</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="fade-up" data-aos-delay="400">
                <img src="https://static.wikia.nocookie.net/5dd362b0-d9ef-4a34-9471-9f335d1c1bbb" class="img-fluid" alt="">
                <h3>Sad</h3>
                <p>Furrowed brows Lip corner depressor</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="fade-up" data-aos-delay="600">
                <img src="https://www.mangobollywood.com/wp-content/uploads/2019/07/64379033.jpg" class="img-fluid" alt="">
                <h3>Fear</h3>
                <p>Open mouth
                    Wide eyes
                    Furrowed brows</p>
              </div>
            </div>
   
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                  <img src="https://previews.123rf.com/images/kozzi/kozzi1301/kozzi130112644/17377054-%E3%82%AF%E3%83%AD%E3%83%BC%E3%82%BA-%E3%82%A2%E3%83%83%E3%83%97-%E3%83%9B%E3%83%AF%E3%82%A4%E3%83%88-%E3%83%90%E3%83%83%E3%82%AF-%E3%82%B0%E3%83%A9%E3%82%A6%E3%83%B3%E3%83%89%E3%81%AB%E5%AF%BE%E3%81%97%E3%81%A6%E6%80%92%E3%82%8A%E9%A1%94%E3%81%AE%E3%82%B8%E3%82%A7%E3%82%B9%E3%83%81%E3%83%A3%E3%83%BC%E3%81%AE%E7%94%B7%E3%81%AE%E3%82%A4%E3%83%A1%E3%83%BC%E3%82%B8.jpg" class="img-fluid" alt="">
                  <h3>Angry</h3>
                  <p>Lowered and burrowed eyebrows
                    Intense gaze
                    Raised chin</p>
                </div>
              </div>

              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                  <img src="https://thumbs.dreamstime.com/b/young-attractive-woman-surprised-shocked-face-eyes-mouth-wide-open-close-up-portrait-beautiful-young-latin-117694119.jpg" class="img-fluid" alt="">
                  <h3>Supprise</h3>
                  <p>Dropped jaw
                    Raised brows
                    Wide eyes</p>
                </div>
              </div>

              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                  <img src="https://t3.ftcdn.net/jpg/03/42/85/16/360_F_342851651_BV9SYWnoTPSu3kq6e82zG7H8eEt20wd1.jpg" class="img-fluid" alt="">
                  <h3>Neutral</h3>
                  <p>
                    A neutral face is a blank expression that implies a lack of perceptible emotion.</p>
                </div>
              </div>
<center>       
              <div class="col-lg-4 mt-4 mt-lg-0" >
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                  <img src="https://pbs.twimg.com/media/FGS1SLiXIAIwmPN.jpg" class="img-fluid" alt="">
                  <h3>Disgust</h3>
                  <p>Eyebrows pulled down, nose wrinkled, upper lip pulled up, lips loose. The disgust face doesn't just show our distaste</p>
                </div>
              </div>
            </center>
          </div>
  
        </div>
  
      </section><!-- End Values Section -->

<section> 
<div>
  <center>
    <header class="section-header">
      <p>Application</p>
    </header>
    <div class="features" >  

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
        <div class="row align-self-center gy-4">
    
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Security Measures   </h3>
            </div>
          </div>
    
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>HR Assistance </h3>
            </div>
          </div>
    
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Differently Abled Children</h3>
            </div>
          </div>
    
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Video Game Testing</h3>
            </div>
          </div>
    
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Healthcare</h3>
            </div>
          </div>
    
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Audience Engagement</h3>
            </div>
          </div>
    
        </div>
      </div>
    </div>
    </div>
    
  </center>

</section>

     <section id="video">
  <div>
 <center>
        <h1> Emotion Recognition</h1>
            <div style="border-style: double;">
                <img src="{{ url_for('video') }}" width="70%"/>
                <h1>hello</h1>
            </div>
    </center>

  </div>

     </section>
   
</body>
</html>